<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>

<% if(page.comments && theme.schnack.enabled){ %>
    <div class="comments-go-here"></div>
    <script src="https://comment.fedidat.com/embed.js"
        data-schnack-slug="post-slug"
        data-schnack-target=".comments-go-here">
    </script>
<% } %>
